<html ng-app="rest_app">
<head>
    {% load staticfiles %}
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'authorization/css/left_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'authorization/css/right_top_panel.css' %}">
    <script src="{% static 'authorization/js/left_menu.js' %}"></script>
    <script src="{% static 'authorization/js/right_top_panel.js' %}"></script>
    <script src="{% static 'authorization/js/subscribers.js' %}"></script>
    <script src="{% static 'authorization/js/rest_controller.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

</head>
<body ng-controller="rest-controller" id="controller-body">

    <div class="menu-wrapper">
        <div class="menu-pin">

        </div>

        <div class="menu">
            <div class="user-space">
                {% verbatim %}
                <img id='upload-avatar' class='avatar dialog-invoke' src="{{ user.user.image_url }}">
                <p class="user-name">{{user.user.username}}</p>
                <table class="stats-table">
                    <tr >
                        <td>Minds</td>
                        <td>Fing</td>
                        <td>Fers</td>
                    </tr>
                    
                    <tr>
                        <td>{{ user.minds }}</td>
                        <td ng-click="getSubscribersGraph()">{{ user.following }}</td>
                        <td ng-click="getFollowersGraph()">{{ user.followers }}</td>
                    </tr>

                </table>
                {% endverbatim %}
            </div>
            <ul class="menu-list">
                <li><div class="single-menu-node"><img src="{% static 'authorization/img/home4.svg' %}"><p>Home</p></div></li>
                <li>
                    <div id="cat-friends" class="single-menu-node expandable"><img src="{% static 'authorization/img/multiple25.svg' %}"><p>Friends</p></div>
                    <ul class="menu-sublist cat-friends">
                        <li>Pending requests</li>
                        <li>Your requests</li>
                        <li id="search-friend" class="dialog-invoke">Search</li>
                    </ul>
                </li>
                <li><div class="single-menu-node"><img src="{% static 'authorization/img/leader.svg' %}"><p>Groups</p></div></li>
                <li><div class="single-menu-node"><img src="{% static 'authorization/img/invisible2.svg' %}"><p>Anonymous</p></div></li>
                <li><div class="single-menu-node"><p>Minds</p></div></li>
                <li id="create-mind" class="dialog-invoke"><div class="single-menu-node"><img src="{% static 'authorization/img/dreaming.svg' %}"><p>Share your mind...</p></div></li>
                <li id="log-out">
                    <div class="single-menu-node" ng-click="logoutRequest()">
                        <img src="{% static 'authorization/img/leader.svg' %}">
                        <p>Log out</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="create-mind-dialog" title="Basic dialog">
        {% verbatim %}
        <label class="row" for="create-mind-header" >Mind name</label>
        <input class="row" ng-model="mind.title" type="text" id="create-mind-header" >
        <div class="row categories">
            <ul class="category-line" >
                <li ng-repeat="cat in selectedCats" ng-click="removeCategory(cat)"><p>{{ cat.category_title }}</p></li>
            </ul>
            <button class="add-category-button">+ Add</button>
            <div class="row category-labels-selector">
                <label for="category-name">Category: </label>
                <input type='text' id="category-name" ng-model="cat_name" ng-keyup="getCategories(cat_name)">
                <ul class="category-line" >
                    <li class="select-category" ng-repeat="cat in categories" ng-click="addCategory(cat)"><p>{{ cat.category_title }}</p></li>
                </ul>
            </div>    

        </div>
        <label class="row" for="create-mind-text">Mind contatin:</label>
        <textarea class="row" id="create-mind-text" ng-model="mind.text"></textarea>
        {% endverbatim %}
    </div>

    <div class="right-top-info-panel">
        {% verbatim %}
        <div class="close-panel"><p>⨯</p></div>
        <img class='avatar dialog-invoke' ng-src="{{ anotherUser.user.image_url }}">
        <p class="user-name">{{ anotherUser.user.username }}</p>
        <table class="stats-table">
            <tr>
                <td>Minds</td>
                <td>Fing</td>
                <td>Fers</td>
            </tr>
            <tr>
                <td >{{ anotherUser.minds}}</td>
                <td ng-click="getSubscribersGraph(anotherUser.user.id)">{{ anotherUser.following}}</td>
                <td ng-click="getFollowersGraph(anotherUser.user.id)">{{ anotherUser.followers}}</td>
            </tr>
        </table>

        <button ng-click="subscribe(anotherUser.user.id)"
            ng-if="anotherUser.alreadySubscribed==true" class="unsubscribe-button">
            <p >Unsubscribe</p>
        </button>
        <button ng-click="subscribe(anotherUser.user.id)"
            ng-if="anotherUser.alreadySubscribed==false" class="subscribe-button">
            <p >Subscribe</p>
        </button>
        {% endverbatim %}
    </div>

    <div id="search-friend-dialog" title="Basic dialog">

        {% verbatim %}
        <div class="row">
            <label for="search-friend-line">Search:</label>
            <input ng-model="name" type="text" id="search-friend-line" ng-keyup="getFriends(name)">
            <button class="search-friend-submit">Search..</button>
        </div>
        <div class="table-container">
            <table id="search-friend-result" class="row">
                <!-- Place for Angular controller -->
                <tr ng-repeat="friend in friends">
                    <td><img ng-src='{{friend.user.image_url}}' class="avatar-shortcut"></td>
                    <td>{{ friend.user.username }}</td>

                    <td id="{{'friend-'+friend.user.id }}" ng-click="subscribe(friend.user.id)"
                        ng-if="friend.alreadySubscribed==true" class="unsubscribe-button">
                        <p >Unsubscribe</p>
                    </td>
                    <td id="{{'friend-'+friend.user.id }}" ng-click="subscribe(friend.user.id)"
                        ng-if="friend.alreadySubscribed==false" class="subscribe-button">
                        <p >Subscribe</p>
                    </td>
                </tr>
            </table>
        </div>
        {% endverbatim %}
    </div>
    <div id="upload-avatar-dialog">
        <form action="{% url 'blog:upload_avatar' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ avatar_form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <svg></svg>
</body>
</html>