<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/auth.css' %}">
</head>
<body>
    <div class="content">
        <form action="{% url 'auth:success_login' %}" method="post">
            {{ message }}
            {% csrf_token %}
                <div class="row">
                    <label for="reg-login">Login:</label>
                    <!--<input id='reg-login' type="text" name="login">-->
                    {{form.login}}
                </div>
                <div class="row">
                    <label for="reg-passwd">Password:</label>
                    <!--<input id='reg-passwd' type="password" name="passwd">-->
                    {{form.password}}
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a href="{% url 'auth:registration' %}">Register..</a>
            <div class="row">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>
